
.outer {
    display: flex;
    flex-direction: row;
}
.navbar {
    height: 100vh;
    display: inherit;
    flex-direction: column;
    background-color: lightgray;
}
.top {
    position: absolute;
    top: 50px;
    left: 22px;
    width: 80%;
}
.top:hover {
    cursor: pointer;
}
.checkbox {
    display: inline;
    margin-top: 10px;
}
.f-start {
    display: flex;
    justify-content: start;
    list-style-type: none;
}
.header {
    font-size: 30px;
    background-color: rgb(54, 52, 52);;
    display: flex;
    justify-content: space-between;
}
.icons {
    margin-right: 40px;
    display: inherit;

}
.listoh3 {
    margin-left: 40px;
    margin-top: 10px;
    color: white;
}
ul li {
    border: collapse;
    width: 100%;
    margin-top: 10px;
    padding: 5px 15px;
    list-style-type: none;
    display:flex;
    flex-direction: row;
    font-weight: bold;
}
input {
    margin-right: 20px;
}
.inline {
    display: inline;
    width: fit-content;
}
input[type = submit] {
    color: white;
    border-radius: 5px;
    background-color: rgb(50, 156, 183);

}
#submitId {
    width: 20%;
    margin: 5px;

}
#newShoppingList {
    width: fit-content;
    margin: 5px;
}
.topline {
    display: flex;
    flex-wrap: nowrap;

}
i {
    padding: 15px;
    color: rgb(183, 183, 183)
}
._10px {
    font-size: 10px;
    width:fit-content;
    padding: 5px;
    display: inline;

}
#sideShoppingList, #sideHoneyList, #sideOtherList, .space {
    display: flex;
    justify-content: space-between;
}
#honeyTrashIcon, #shoppingTrashIcon, #otherTrashIcon, #newTrash{
    height: 20px;
    margin:auto 10px;
}
#listOfToDos {
    font-size: 40px;
    margin: 10px;
    width: inherit;
}
.fullwidth {
    width: 100%;
}
#addList {
    text-align: center;
    width: 50px;
    background-color: rgb(51, 194, 120);
    color: white;
    border-radius: 3px; 
    display: flex;
}
.listHeadingSection {
display: flex;
justify-content: space-between;
}
.red {
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(221, 95, 63);
    font-size: 12px;
    color: rgb(199, 194, 194);
}
.red:hover {
    color: black;
    cursor: pointer;
    background-color: rgb(220, 130, 82);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.orange {
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(247, 184, 38);
}
.orange:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
#newShoppingList {
    display: flex;
    width: 50%;
}
.edit {
    background-color: rgb(227, 175, 87);
    border-radius: 50%;
    font-size: 12px;
    margin: 5px;
}
.edit:hover {
    color: black;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
    

    